version: '3.8'
services:
    gatekeeper:
        depends_on:
            - styx
            - rhea
            - calliope
        ports:
            - 80:80
            - 443:443
        tty: false
    styx:
        working_dir: /app/styx
        depends_on:
            - rhea
    rhea:
        working_dir: /app/rhea
        depends_on:
            - rhea-postgres
            - redis
    calliope:
        working_dir: /app/calliope
        depends_on:
            - redis
    rhea-postgres:
        image: postgres:15-alpine
        environment:
            POSTGRES_USER: docker
            POSTGRES_PASSWORD: docker
            POSTGRES_DB: db
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U docker -d db"]
            interval: 5s
            timeout: 5s
            retries: 5
            start_period: 30s
    redis:
        image: redis:7-alpine
