html {
	overflow: hidden;
	width: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: #0a1929; */
	/* background: #eaeff1; */
	/* color: rgb(178, 186, 194); */
	color: #b053df;

	height: 100%;
	position: fixed;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.MuiButtonBase-root {
	transition: background-color 0.2s, color 0.2s !important;
}

body.cursor-resizing-ns {
	cursor: ns-resize !important;
	user-select: none !important;
}

body.cursor-resizing-ew {
	cursor: ew-resize !important;
	user-select: none !important;
}

body.cursor-grabbing {
	cursor: grabbing !important;
	user-select: none !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

fieldset {
	min-width: 0;
	min-height: 0;
}

.MuiMenu-paper {
	transition: opacity 240ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 270ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.fade-enter {
	opacity: 0;
}

.fade-exit {
	opacity: 1;
}

.fade-enter-active {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
	transition: opacity 500ms;
}

svg.mention-chip-actor-icon {
	position: absolute;
	left: -3px;
	top: 1px;
	font-size: 19px;
}

svg.mention-chip-event-icon {
	position: absolute;
	left: -2px;
	top: 2px;
	font-size: 17px;
}

svg.mention-chip-article-icon {
	position: absolute;
	left: -1px;
	top: 2px;
	font-size: 17px;
}

svg.mention-chip-tag-icon {
	position: absolute;
	left: -1px;
	top: 2px;
	font-size: 17px;
}